@model List<TravelExpertData.Models.Booking>
@{
    ViewData["Title"] = "Booking";
}

<div class="container">
    <div class="row">
     
        <div class="d-flex justify-content-center align-content-center p-4 my-2">
         
        </div>
       
        <div>
            <h2>Customer Booking Details</h2>
            @if (Model != null && Model.Any() )
                {
                <h5>Upcoming Bookings</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Booking Number</th>
                            <th scope="col">Package Name</th>
                            <th scope="col">Package Description</th>
                            <th scope="col">Package Date</th>
                            <th scope="col">Booking Date</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var booking in Model.Where(m => m.Package.PkgStartDate > DateTime.Now))
                        {
                            <tr>
                                <td>@booking.BookingNo</td>
                                <td>@booking.Package.PkgName</td>
                                <td>@booking.Package.PkgDesc</td>
                                <td>@booking.Package.PkgStartDate.Value.ToString("yyyy-MM-dd")</td>
                                <td>@booking.BookingDate.Value.ToString("yyyy-MM-dd")</td>
                                <td>@booking.Package.PkgBasePrice.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                </table>
                }
            @if (Model != null && Model.Any())
            {
                <h5>Previous Bookings</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Booking Number</th>
                            <th scope="col">Package Name</th>
                            <th scope="col">Package Description</th>
                            <th scope="col">Package Date</th>
                            <th scope="col">Booking Date</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var booking in Model.Where(m => m.Package.PkgStartDate < DateTime.Now))
                        {
                            <tr>
                                <td>@booking.BookingNo</td>
                                <td>@booking.Package.PkgName</td>
                                <td>@booking.Package.PkgDesc</td>
                                <td>@booking.Package.PkgStartDate.Value.ToString("yyyy-MM-dd")</td>
                                <td>@booking.BookingDate.Value.ToString("yyyy-MM-dd")</td>
                                <td>@booking.Package.PkgBasePrice.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No bookings found.</p>
            }
        </div>
    </div>
</div>
</ul>
