@model List<TravelExpertData.Models.Booking>
@{
}

<h2>Bookings</h2>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var booking in Model)
        {   
            <li>
                Booking Id: @booking.BookingId, Booking Date: @booking.BookingDate
                Package Name : @booking.Package.PkgName,Package Description : @booking.Package.PkgDesc, Price: @booking.Package.PkgBasePrice.ToString("C")
                
            </li>
        }
    </ul>
}
else
{
    <p>No bookings found.</p>
}